html{
	background-image: url(../images/bamboo.gif);
	background-size: 100% 100%;
}

body{
	font-size: medium;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	list-style-position: 1.6em; /*Changes the verticle space between lines*/
	background: white;
}

h1{
	font-size: 150%;
}

h2{
	font-size: 130%;
}

.header{
	background: gray;
	background-image: url(../images/lotus_on_water_sized.png);
	background-position: center;
	background-repeat: no-repeat;
	height: 300px;
	/*line-height: 250px;*/ /*can center one line of text but as screen adjusts and goes to two lines get MESSED UP*/
	width: 100%;
	float: left;
}

.nav{
	background: green;
	font-size: 100%;
	width: 93%;
	margin: 2.5% 2.5% 0% 2.5%;
	border: 5px gray solid;
	float: left;
}

.content {
	background: red;
	/*background-image: url(../images/spa5.png);
	background-size: 100% 100%;*/  			/*This image  and sizing is only needed for the home page*/
	width: 63%;
	margin: 2.5% ;
	border: 5px gray solid;
	padding: none;
	height: 800px;	
	float: left;
}

.sidebar{
	background: gray;
	background-image: url(../images/image01.png);
	background-size: 100% 100%;
	width: 23%;
	margin: 2.5%;
	border: 5px gray solid;
	padding: none;
	height: 800px;
	float: left;

}

.footer{
	width: 100%;
	float: left;
}